body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


/*Header*/

header{
    width: 100vw;
    
    background: #1a3c66;
    
}

.img-header{
    width: 100vw;
    height: 15vh;
}

.img-profile {
    position: absolute;
    top: 130px; 
    left: 20px; 
    width: 150%;  
    height: 150px;
    margin-left: 4vh; 
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover; 
}

.header {
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #1a3c66;
    color: white;
    padding: 15px;
}

.profile {
    display: flex;
    align-items: center;
    padding-left: 5vw;
    background-color: #27ae60;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.menu{
    margin-right: 5%;
    display: flex;
    gap: 5px;
}

.menu .links {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}


/*Main*/


.container {

    width: 80%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}

.add_titulo{

    margin-bottom: 25px;
    font-weight: 700;
    font-size: 35px;

}

.container_book{
    display: flex;
}

.search-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-bottom: 20px;
    background-color: #ebebeb;
}

.book-container {
    height: 40vh;
    width: 40vh;
    align-items: center;
    gap: 20px;
}

.book_info{
    
    width: 45vw;
}

.livro_capa{
    
    background-color: #444;
    height: 100vh;
}

.book-container img {
    width: 120px;
    height: auto;
    border-radius: 5px;
}

.book-info {
    flex: 1;
}

.book-info h2 {
    margin: 0;
    font-size: 1.2em;
}

.book-info .author {
    color: #666;
    font-size: 0.9em;
}

.rating {
    background: #27ae60;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
}

.book-stats {
    display: flex;
    justify-content: space-around;
    
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    
}

.book-stats div {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    padding: 10px;
    height: 5vh;
    width: 5vw;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.book-stats div span {
    color: #0056b3;
    font-weight: 200;
    font-size: 30px;
}

.description {
    margin-top: 20px;
    font-size: 0.9em;
    color: #444;
    line-height: 30px;
}

.info {
    
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.9em;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn {
    background: #eef2f5;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.btn.active {
    background: #006C9C;
    color: white;
    
}

.add-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #006C9C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 75%;
    border-radius: 10px;
}

.div_add_button{
    display: flex;
    justify-content: center;
}

.add-button:hover {
    background: #0056b3;
    border-radius: 10px;
}
